.header {
    margin: 8px;
    width: 100%;
    padding: 8px;
    height: 64px;
    background-color: orange;
}

.content {
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content .column {
    margin: 8px;    
    padding: 8px;
    height: 100%;
    width: 350px;
    min-height: 100vh;
    background-color: pink;
}